var x i32 = 45
var y u32 = 7
var z [10] i32 = [1,2,3,0 etc]

fun double(a i32) -> i32 do
    return add(a, a)
end

fun udouble(a u32) -> u32 do
    return add(a, a)
end

fun frob(a i32) do
    var b i32 = mul(a, x)
    b = add(b, 13)
    mips_printint(b)
end
