extern syscall_exit fun()

extern exit_status i32

var zzz i32 = 15

fun!entry _start() do
    zoinks(17)
end

fun zoinks(x anything_lol) do
    exit_status = x
    syscall_exit()
end

